*{
  margin:0;
  padding: 0;
  font-family: 'Tenali Ramakrishna', sans-serif;
  font-size: 1.5vw;
  /*font-family: Alien League;*/
  text-align: center;
 }
 header{
    margin-top:2%;
    padding-top: 2%;
    font-size: 180%; 
    
    
}
#contact {
    width: 200px;
    padding: 10px;
    background:#2E3440; 
    color: white; 
    position:relative;
    margin-top: 10px;
    left: -240px; 
    top: -60px;
    -webkit-transition: all .5s ease-in;
    -moz-transition: all .5s ease-in;
    transition: all .5s ease-in;
    border-radius: 8px 8px 8px 8px;
    
}
footer{
  z-index: 100;
  margin-top:15%;
  padding-top:10px;
  padding-bottom:10px;
  font-size: 15px;
  box-shadow: -1px -2px 5px 1px rgba(0, 0, 0, 0.4);
  background-image:linear-gradient(200deg, #D6D1D0, #2E3440);
  width: 100%;
  bottom: 0;
  position: fixed;
  text-align: middle;
  border-top:0.5px solid #2E3440;

}
img{
  vertical-align: middle;
  margin: 0;
  padding: 0;
}
a{
    text-decoration: none;
}
a:link {
    color: black;
}
a:visited {
    color: black;
}

#BackEnd, #FrontEnd, #Design, #About{
    
    display: block;
    background-color:white;
    padding-top:22.5%;
    box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
    height: 30%;
    width: 35%;
    padding-bottom: 22.5%;
    font-size: 150%;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    margin-bottom: 15%;
    margin-top: 15%;
    margin-left: 35%;
}
#BackEnd{
    border-bottom: 3px solid #da766b ;
    border-right: 3px solid #da766b ;

}
#FrontEnd{
    border-bottom:3px solid #656b81;
    border-right:3px solid #656b81;
}
#Design{
    border-bottom: 3px solid #d9bb62;
    border-right: 3px solid  #d9bb62;
}
#About{
    border-bottom: 3px solid #025c66;
    border-right: 3px solid #025c66;
    margin-bottom: 35%;
}
#BackEnd>p:nth-child(2){
    border-bottom: 2px solid #da766b;
    display: inline-block;
    padding:0 5px;
}
#FrontEnd>p:nth-child(2){
    border-bottom: 2px solid #656b81;
    display: inline-block;
    padding:0 5px;
}
#Design>p:nth-child(2){
    border-bottom: 2px solid #d9bb62;
    display: inline-block;
    padding:0 5px;
}
#About>p:nth-child(2){
    border-bottom: 2px solid #025c66;
    display: inline-block;
    padding:0 5px;
}

/* Recherche stage*/
#contact {
    width: 200px;
    padding: 10px;
    background:#2E3440; 
    color: white; 
    position:fixed;
    margin-top: 10px;
    left: -240px; 
    top: 60px;
    -webkit-transition: all .5s ease-in;
    -moz-transition: all .5s ease-in;
    transition: all .5s ease-in;
    border-radius: 8px 8px 8px 8px;
    box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.4);
}

#contact a.ouvrir , #contact a.fermer{
    padding: 25px 25px;
    background-color: #D6D1D0;
    color: black;
    position: absolute;
    right: -78.5px;
    top:30px;
    border: 1px solid #2E3440;
    /* quelques styles CSS3 */
    -ms-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
    border-radius: 0 0 8px 8px;
    box-shadow: -1px -2px 5px 1px rgba(0, 0, 0, 0.4);
}
#contact:target {
    left: 0;
}
#contact a.fermer {
    display: none;
}
#contact:target a.ouvrir {
    display: none;
}
#contact:target a.fermer {
    display: block;
}
#contact_close:target #contact {
  /* retourne à ta place */
    left: -240px;
}

/*Pulsation cercles */
@-webkit-keyframes pulse 
  {       
    0% {-webkit-transform: scale(0); opacity: 0;}
    8% {-webkit-transform: scale(0); opacity: 0;}
    15% {-webkit-transform: scale(0.1); opacity: 1;}
    30% {-webkit-transform: scale(0.5); opacity: 1;}
    100% {opacity: 0; -webkit-transform: scale(1);}
}
@-moz-keyframes pulse 
  {       
    0% {-moz-transform: scale(0); opacity: 0;}
    8% {-moz-transform: scale(0); opacity: 0;}
    15% {-moz-transform: scale(0.1); opacity: 1;}
    30% {-moz-transform: scale(0.5); opacity: 1;}
    100% {opacity: 0; -moz-transform: scale(1);}
}
keyframes pulse 
  {       
    0% {transform: scale(0); opacity: 0;}
    8% {transform: scale(0); opacity: 0;}
    15% {transform: scale(0.1); opacity: 1;}
    30% {transform: scale(0.5); opacity: 1;}
    100% {opacity: 0; transform: scale(1);}
}
.pulse_holder
  {
    top: 50%;
    left:51%;
    position: absolute;
    position: center;
    
  } 
.pulse_holder1{
    top: 100%;
    left:51%;
    display: block;
    position: absolute;
}
.pulse_holder2{
    top: 152%;
    left:51%;
    display: block;
    position: absolute;
}
.pulse_holder3{
    top: 205%;
    left:51%;
    display: block;
    position: absolute;
}
.pulse_holder .pulse_marker, .pulse_holder1 .pulse_marker1, .pulse_holder2 .pulse_marker2, .pulse_holder3 .pulse_marker3
  {
    width: 16px;
    height: 16px;
}
.pulse_holder .pulse_rays, .pulse_holder1 .pulse_rays1, .pulse_holder2 .pulse_rays2, .pulse_holder3 .pulse_rays3
  {
    margin: 0 auto;
    border-radius: 100px;
    position: absolute;
    right: -26px;
    top: -26px;
    z-index: 10;
    background-color: transparent;
    opacity: 0.1;
    width: 65px;
    height: 65px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -o-border-radius: 100px;
    -ms-border-radius: 100px;
    border-radius: 100px;
    /* Giving Animation Function */
    -webkit-animation: pulse 2s linear infinite;
    -moz-animation: pulse 2s linear infinite; 
    border-image: initial;
}
.pulse_holder .pulse_rays{
    border: 2px solid rgba(218, 118, 107, 1);
}
.pulse_holder1 .pulse_rays1{
    border: 2px solid rgba(101, 107, 129, 1);
}
.pulse_holder2 .pulse_rays2{
    border: 2px solid rgba(217, 187, 92, 1);  
}
.pulse_holder3 .pulse_rays3{
    border: 2px solid rgba(2, 92, 102, 1);  
}
@media screen and (min-width: 450px) and (max-width: 900px){
   
    header{
      
      
    }
    #BackEnd, #FrontEnd, #Design, #About{
          display: inline-block;
          background-color:white;
          padding-top:22.5%;
          box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
          height: 40%;
          width: 32%;
          padding-bottom: 25%;
          padding-left: 2%;
          padding-right: 2%;
          font-size: 150%;
          border-top-right-radius: 30px;
          border-bottom-left-radius: 30px;
          margin-bottom: 10%;
          margin-left: 5%;
          margin-right: 5%;   
    }
    #BackEnd{
      margin-top: 180px;
    }
    #FrontEnd{
      margin-top: 180px;
    }
    #Design{
      margin-top: 10px;
    }
    #About{
      margin-top: 10px;
    }
    /*Pulsation cercles*/
    @-webkit-keyframes pulse 
    {       
    0% {-webkit-transform: scale(0); opacity: 0;}
    8% {-webkit-transform: scale(0); opacity: 0;}
    15% {-webkit-transform: scale(0.1); opacity: 1;}
    30% {-webkit-transform: scale(0.5); opacity: 1;}
    100% {opacity: 0; -webkit-transform: scale(1);}
    }

    @-moz-keyframes pulse 
    {       
    0% {-moz-transform: scale(0); opacity: 0;}
    8% {-moz-transform: scale(0); opacity: 0;}
    15% {-moz-transform: scale(0.1); opacity: 1;}
    30% {-moz-transform: scale(0.5); opacity: 1;}
    100% {opacity: 0; -moz-transform: scale(1);}
    }

    keyframes pulse 
    {       
    0% {transform: scale(0); opacity: 0;}
    8% {transform: scale(0); opacity: 0;}
    15% {transform: scale(0.1); opacity: 1;}
    30% {transform: scale(0.5); opacity: 1;}
    100% {opacity: 0; transform: scale(1);}
    }

    .pulse_holder .pulse_marker, .pulse_holder1 .pulse_marker1, .pulse_holder2 .pulse_marker2, .pulse_holder3 .pulse_marker3
        {
          width: 20px;
          height: 20px;
        }
    .pulse_holder .pulse_rays, .pulse_holder1 .pulse_rays1, .pulse_holder2 .pulse_rays2, .pulse_holder3 .pulse_rays3
        {
          margin: 0 auto;
          border-radius: 100px;
          position: absolute;
          right: -26px;
          top: -26px;
          z-index: 10;
          background-color: transparent;
          opacity: 0.1;
          width: 80px;
          height: 80px;
          -webkit-border-radius: 100px;
          -moz-border-radius: 100px;
          -o-border-radius: 100px;
          -ms-border-radius: 100px;
          border-radius: 100px;
          /* Giving Animation Function */
          -webkit-animation: pulse 2s linear infinite;
          -moz-animation: pulse 2s linear infinite; 
          border-image: initial;
        }
        .pulse_holder .pulse_rays{
          border: 2px solid rgba(218, 118, 107, 1);
        }
        .pulse_holder1 .pulse_rays1{
            border: 2px solid rgba(101, 107, 129, 1);
        }
        .pulse_holder2 .pulse_rays2{
            border: 2px solid rgba(217, 187, 92, 1);  
        }
        .pulse_holder3 .pulse_rays3{
            border: 2px solid rgba(2, 92, 102, 1);  
        }
        .pulse_holder
        {
            top: 80%;
            left:31%;
            position: absolute;
        } 
        .pulse_holder1{
            top: 80%;
            left:80%;
            display: block;
            position: absolute;
        }
        .pulse_holder2{
            top: 160%;
            left:31%;
            display: block;
            position: absolute;
        }
        .pulse_holder3{
            top: 160%;
            left:80%;
            display: block;
            position: absolute;
        }
    }

@media screen and (min-width: 901px) {
    header{
      
    }
    #BackEnd, #FrontEnd, #Design, #About{
    display: inline-block;
    background-color:white;
    padding-top:12.5%;
    box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
    height: 20%;
    width: 20%;
    padding-bottom: 15%;
    font-size: 25px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    margin-bottom: 10%;
    margin-top: 200px;
    margin-left: 8px;
    }

    @-webkit-keyframes pulse 
    {       
    0% {-webkit-transform: scale(0); opacity: 0;}
    8% {-webkit-transform: scale(0); opacity: 0;}
    15% {-webkit-transform: scale(0.1); opacity: 1;}
    30% {-webkit-transform: scale(0.5); opacity: 1;}
    100% {opacity: 0; -webkit-transform: scale(1);}
    }

    @-moz-keyframes pulse 
    {       
    0% {-moz-transform: scale(0); opacity: 0;}
    8% {-moz-transform: scale(0); opacity: 0;}
    15% {-moz-transform: scale(0.1); opacity: 1;}
    30% {-moz-transform: scale(0.5); opacity: 1;}
    100% {opacity: 0; -moz-transform: scale(1);}
    }

    keyframes pulse 
    {       
    0% {transform: scale(0); opacity: 0;}
    8% {transform: scale(0); opacity: 0;}
    15% {transform: scale(0.1); opacity: 1;}
    30% {transform: scale(0.5); opacity: 1;}
    100% {opacity: 0; transform: scale(1);}
    }
    .pulse_holder
    {
        top: 56%;
        left:22.5%;
        display: block;
        position: absolute;
    } 
    .pulse_holder1{
        top: 56%;
        left:43%;
        display: block;
        position: absolute;
    }
    .pulse_holder2{
        top: 56%;
        left:64%;
        display: block;
        position: absolute;
    }
    .pulse_holder3{
        top: 56%;
        left:84%;
        display: block;
        position: absolute;
    }
    .pulse_holder .pulse_marker, .pulse_holder1 .pulse_marker1, .pulse_holder2 .pulse_marker2, .pulse_holder3 .pulse_marker3
    {
      width: 16px;
      height: 16px;
    }
    .pulse_holder .pulse_rays, .pulse_holder1 .pulse_rays1, .pulse_holder2 .pulse_rays2, .pulse_holder3 .pulse_rays3
        {
          margin: 0 auto;
          border-radius: 100px;
          position: absolute;
          right: -26px;
          top: -26px;
          z-index: 10;
          background-color: transparent;
          opacity: 0.1;
          width: 150px;
          height: 150px;
          -webkit-border-radius: 100px;
          -moz-border-radius: 100px;
          -o-border-radius: 100px;
          -ms-border-radius: 100px;
          border-radius: 100px;
          /* Giving Animation Function */
          -webkit-animation: pulse 2s linear infinite;
          -moz-animation: pulse 2s linear infinite; 
          border-image: initial;
        }
    .pulse_holder .pulse_rays{
        border: 2px solid rgba(218, 118, 107, 1);
    }
    .pulse_holder1 .pulse_rays1{
        border: 2px solid rgba(101, 107, 129, 1);
    }
    .pulse_holder2 .pulse_rays2{
        border: 2px solid rgba(217, 187, 92, 1);  
    }
    .pulse_holder3 .pulse_rays3{
        border: 2px solid rgba(2, 92, 102, 1);  
    }
    
  }

